<center>
  <h3>Search Results</h3>
  <% if @search.search_colleges.empty? %>
    <p>No Institutions matching the filters were found.</p>
  <% else %>
  <div class="grid-container">
  <% @search.search_colleges.each do |college| %>
    <%= link_to college do %>
      <div class="grid-item">
        <strong><%= college.coll_name %></strong>
        <p>Cost of Attendance: <%= college.cost_att %></p>
        <p>Zipcode: <%= college.zip_code %></p>
      </div>
    <% end  %>
   <% end %>
</div>
<% end %>
</center>
