<center>
  <h3>Search Results</h3>
  <% if @colleges.empty? %>
    <p>No Institutions matching the filters were found.</p>
  <% else %>
  <div class="grid-container">
  <% @colleges.each do |college| %>
    <%= link_to college do %>
      <div class="grid-item"><%= college.coll_name %></div>
    <% end  %>
   <% end %>
</div>
<% end %>
</center>
