@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
$lavender: #BEB8F4;
$dark-purple: #230F4F;
$purple: #00175F;
$light-lavender: #e5e2fa;

body {
  background-color: #f2f2f2;
  padding-top: 60px;
  font-family: 'Hahmlet', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Besley', serif;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center; 
  h1 {
    margin-bottom: 10px;
    color: #7C014A;
    font-weight: bold;
    
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font: 3.0em Hahmlet, serif;
  
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(16px + 6 * ((150vw - 320px) / 680));
  }
}
@media screen and (min-width: 720px) {
  h1 {
    font-size: 50px;
  }
}
h2 {
  letter-spacing: 1.0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #37423d;
  font-size: 0.9em;
  
}
h3 {
  padding-top: 70px;
  color: white;
  font-size: 3.0em;
  font-weight: bold;
}
h5 {
  color: white;
  font-weight: bold;
  font: 4.0em Barlow, serif;
}
h6 {
  padding-top: 25px;
  color: #403077;
  font-weight: bold;
  font: 1.5em Barlow, serif;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  font-weight: bold;
  background-color: #222;
  &:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
      background-color: transparent;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
  }
}

.circleIcon-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.circleIcon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("EdgeucationIcon.png");
  background-size: contain, cover;
  position: relative;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  &:hover {
    background-color: #008CBA;
    color: white;
  }
}


// Scroll back to the top button
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  // object-position: right 60%;
  bottom: 10%; /* Place the button at the bottom of the page */

  right: 35px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 4px solid $purple; /* Remove borders */
  background-color: #fff; /* Set a background color */
  color: $purple; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 8px; /* Rounded corners */
}

#myBtn:hover { /* Add a dark-grey background on hover */
  border: 4px solid $lavender; /* Remove borders */
  color: $lavender; /* Text color */
}

  .banner {
    background-image: url("University_College.jpg");
  	height: 40%;
  	background-position: center;
  	background-repeat: no-repeat;
  	position: relative;
  	text-size-adjust: 70%;
  	font-size: 70px;
  }

  .banner > p {
    color: white;
    text-align: center;
    padding: 110px 0;
    
  }
  
  @media screen and (min-width: 320px) {
  .banner {
    font-size: calc(16px + 6 * ((50vw - 550px) / 780));
  }
}
@media screen and (min-width: 720px) {
  .banner {
    font-size: 15px;
  }
}

.h3-container{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  height: 500px auto;
  width: 100%;
  background-color: #020827;
  text-align: center;
  padding: 25px;
  padding-bottom: 130px;
}  
.h5-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  height: 200px;
  width: 100%;
  background-color: #020827;
  text-align: center;
  
}
  
.my-container {width:80%;margin:0 auto;}
.btn-dark {background:#536bf6;color:#fff}
.btn-dark:hover {background:#000;color:#fff}

.back-btn{
  background-color: white;
  text-color: #000;
  font-weight: bold;
  padding: 10px;
  border-radius: 10%;
  text-decoration: none;
  &:hover{
   -webkit-transform: scale(1.05);
           transform: scale(1.05);
   text-decoration: none;
   background:#000;
   color:#fff
  }
}