// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// universal
$radius-border: 10px;
//

h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #37423d;
  text-align: center
}

.grid-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #white;
  grid-gap: 35px;
  grid-row-gap: 45px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 5%;
  
  a {
    text-decoration:none;
    border-radius: $radius-border;
    border: 1px solid transparent;
    &:hover{
    background-color: transparent;
    text-color: #000;
    }
  }
}

.grid-item {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: $radius-border;
  border: 0;
  height: 275px;
  width: 250px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  padding: 25px;
  font-size: 13px;
  text-align: center;
  color : #000;  //Text color 
    
    @media (max-width: 768px) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    
  &:hover{
    background-color: white;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color : #000;  //Text color 
    text-color : #000
  }
}

  
.grid-item-search {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: $radius-border;
  border: 0;
  background-color: white;
  display:inline-block;
  height: 100px;
  width: auto;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  padding: 30px;
  font: 15px Besley, sans-serif;
  text-align: center;
  
  @media (max-width: 768px) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  }
}
  .grid-item-search-button {
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: $radius-border;
  border: 0;
  display:inline-block;
  height: auto;
  width: auto;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  padding: 30px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background: #E1FF5C;
  color : white;
    &:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color : white;  //Text color 
    background: #000;
  }
  }

   
.home_image  {
  height: 45%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
  opacity: 0.7;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
}

.flex-left {
  width: 50%;
  height: auto;
  margin: 5px;
  padding: 15px;
}

.flex-right {
  width: 50%;
  height: auto;
  padding: 15px;
  border-left: 1px solid #e5e2fa;
}