// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Advanced Search button:
.advanced-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  &:hover{
     text-decoration: none;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* equal height of the children */
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  &:hover{
     -webkit-transform: scale(1.10);
             transform: scale(1.10);
     text-decoration: none;
     background-color: #f2f2f2;
  }
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  background-color: #8f76ff;
  border: solid 1px #f2f2f2;
  line-height: 35px;
} 
.col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* additionally, equal width */
  padding: 1em;
  border-right: none;
  border-left: none ;
  background-color: #7a5cff;
  border: solid 1px #f2f2f2;
} 
.col3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* additionally, equal width */
  padding: 1em;
  border: solid;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  background-color: #8f76ff;
  border: solid 1px #f2f2f2;
  line-height: 35px;
}