<footer class="footer">
  <small>
    Edgeucation application
  </small>
   <small Style= "margin-left: 60px;">
    *All data is provided by the U.S Department of Education.*
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>